/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: pink;
    text-align: center;
    height: 80px;
    justify-content: center;

}
nav .ex-link{
    width: 100%;
    background-color: black;
    padding: 6px;
    float: left;
}
nav .ex-link a{
    color: #fff;
    text-decoration: none;
}

#menu{
    float: left;
    padding: 10px;
}
#menu a{
    text-decoration: none;
    color: black;
    font-size: large;
}
#log{
    display: inline-block;
}
#logo{
    padding: 10px;
    list-style-type: none;

}

#logo a{
    text-decoration: none;
    color: black;
}

.icon{
    float: right;
    display: inline-flex;
    
}
.icon li{
    align-items: center;
    margin-top: 9px;
    list-style-type: none;
    padding: 10px;
    justify-content: center;
}
.icon li a{
    text-decoration: none;
    color: #000;
}
nav ul{
    text-align: center;
    position: fixed; 
    width: 100%;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    background: pink;
    height: 83vh;
}
.text h3{

    padding-top: 100px;
    padding-left: 15px;
    text-align: left;
    margin-left: 20%;
    color: white;
}
.text h1{
    text-align: start;
    margin-left: 20%;
    font-weight: 900;
    font-size: 80px;
    letter-spacing: 10px;
}
span{
    display: block;
    margin-top: -140px;
    font-size: 120px;
    
}
#tf{
    display: inline-block;
    margin-top: -130px;
    text-align: end;
    margin-right: 40%;
    font-size: 120px;

}
 */
