/* *{
    padding: 0;
    margin: 0;
}

.ex-link{
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 6px; 
    
}

.ex-link a{
    text-decoration: none;
    color: white;
} 



/* .header{
    min-height: 100vh;
    width: 100vw;
    background-color: #ffc0cb;
    /* background-position: center;
    position: relative; 
    
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between; 
    align-items: center;  
} 
section{
    
}
.nav-links{
    min-height: 100vh;
    width: 100vw;
    background-color: #ffc0cb;
}

 .nav-links ul li{
    list-style: none;
    display: inline-block;
    
    
} 

.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#menu{
    font-size: larger;
    font-weight: 900;
    padding: 5px 4px;
}

#logo{
    font-size: larger;
    font-weight: 900;
    margin: auto;
    justify-content: center;
}

.s{
    
}   */



*{
    padding: 0;
    margin: 0;
}


.ex-link{
    text-align: center;
    background-color: black;
    width: 100%;
    padding: 6px;
}

.ex-link a{
    color:white;
    text-decoration: none;
}

.container{
    background-color: pink;
    height: 100vh;
    width: 100vw;
    margin: auto;
    
    
    
}
.nav-links ul li {
    display: inline-flex;
    list-style: none;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
}

#menu{
    font-size: larger;
    font-weight: 900;
    padding: 5px 4px;
}
#logo{
    text-align: center;
    
}