<!DOCTYPE html>
<html>
    
<head>
    <title>Order Confirmation</title>
</head>
<body>
    <h1><%= message %></h1>

    <a href="/" style="text-decoration: none; color: white; border: 3px solid black; background-color: black;" >Go Back to Home</a>
</body>
</html>