
<div class="ex-link">
    <a href="https://homewarmth.co/">HOME ESSENTIAL | WWW.HOMEWARMTH.CO</a>
</div> 
<!-- Navbar Row -->
 <div id="nav" class="row w-100 align-items-center  position-fixed top-12">
   
    <div class="col-4 col-sm-3 col-md-2 ms-3 pt-2 fs-3 fw-bold">
        <a class="navbar-brand" href="#">MENU <i class="fa-solid fa-bars"></i></a>
    </div>   
    <div class="col-4 col-md-7 text-md-center text-sm-end ms-md-5">
        <a href="#"><img src="/Images/cross-stitch-logo-black_180x.png" alt="Logo" class="img-fluid logo-img"></a>
    </div>
    <div id="icn" class="col-2 d-flex justify-content-end fs-3 flex-grow-1">
        <a class="nav-link text-dark" href="/admin/dashboard">Admin</a>
        <a href="search" class="nav-link ms-2"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="login" class="nav-link ms-3"><i class="fa-regular fa-user"></i></a>
        <a href="flag" class="nav-link ms-3"><i class="fa-solid fa-flag"></i></a>
        <a href="cart" class="nav-link ms-3"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</div>


 
  
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/contact-us">Contact US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/about-us">About US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/admin/dashboard">Admin Panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Beauty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Accessories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">The Edit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->