
<div class="container-fluid p-0">
    
    <div class="position-relative">
        <img src="Images/d1.jpg" alt="Image 1 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m1.jpg" alt="Image 1 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>

    <!-- Image 2 with "Shop Now" overlay -->
    <div class="position-relative">
        <img src="Images/d2.jpg" alt="Image 2 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m2.jpg" alt="Image 2 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>

    <!-- Repeat for Image 3 to Image 8 -->
    <div class="position-relative">
        <img src="Images/d3.jpg" alt="Image 3 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m3.jpg" alt="Image 3 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>
    <div class="position-relative">
        <img src="Images/d4.jpg" alt="Image 3 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m4.jpg" alt="Image 3 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>
    <div class="position-relative">
        <img src="Images/d5.jpg" alt="Image 3 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m5.jpg" alt="Image 3 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>
    <div class="position-relative">
        <img src="Images/d6.jpg" alt="Image 3 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m6.jpg" alt="Image 3 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>
    <div class="position-relative">
        <img src="Images/d7.jpg" alt="Image 3 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m7.jpg" alt="Image 3 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>
    <div class="position-relative">
        <img src="Images/d8.jpg" alt="Image 3 Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/m8.jpg" alt="Image 3 Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>

    <!-- Special Image for Bag with white menu font color -->
    <div class="position-relative text-white-menu">
        <img src="Images/dbag.jpg" alt="Bag Image Desktop" class="img-fluid img-fluid-full d-none d-md-block">
        <img src="Images/mbag.jpg" alt="Bag Image Mobile" class="img-fluid img-fluid-full d-md-none">
        <div class="position-absolute shop-now-overlay text-white text-center border-white">
            <h3>SHOP NOW</h3>
        </div>
        <div class="position-absolute arrow-overlay text-center">
            <a href="#"><i class="fa-solid fa-angle-down text-white"></i></a>
        </div>
    </div>
</div>