<div class="ex-link">
    <a href="https://homewarmth.co/">HOME ESSENTIAL | WWW.HOMEWARMTH.CO</a>
</div>
<!-- Navbar Row -->
<div id="nav" class="row w-100 align-items-center  position-fixed top-12">
    <div class="col-4 col-sm-3 col-md-2 ms-3 pt-2 fs-3 fw-bold">
        <a id="menu-btn" class="navbar-brand" href="menu">
            MENU <i class="fa-solid fa-bars"></i>
        </a>
    </div>
    <div class="col-4 col-md-7 text-md-center text-sm-end ms-md-5">
        <a href="/"><img src="Images/cross-stitch-logo-black_180x.png" alt="Logo" class="img-fluid logo-img"></a>
    </div>
    <div id="icn" class="col-2 d-flex justify-content-end fs-3 flex-grow-1">
        <a href="/admin/dashboard" class="btn btn-primary ms-4 px-3 py-2" style="border-radius: 10px; transition: 0.1s;">admin</a>
        <a href="#" class="nav-link ms-2"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="/admin" class="nav-link ms-3"><i class="fa-regular fa-user"></i></a>
        <a href="#" class="nav-link ms-3"><i class="fa-solid fa-flag"></i></a>
        <a href="#" class="nav-link ms-3"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>
</div>
