<h4>Create New Category</h4>
<p>If action attribute is empty the form will be submitted to same url on which its rendered</p>
<p>get is default submission method</p>
<form action="" class="container" method="post">
    <div class="form-group">
        <label for="">Title</label>
        <input name="title" type="text" class="form-control" value="Men"/>
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="description" type="text" class="form-control">Men desc</textarea>
    </div>

    <div class="form-group">
        <button class="btn btn-info">Create Record</button>
    </div>

</form>