
<div id="ft" class="row p-3 mt-8 m-3 d-flex justify-content-center">
    <div class="col-4 d-flex align-items-center justify-content-center p-3 flex-grow-1">
        <i class="fa-solid fa-truck-fast me-2 fs-1 fw-bold"></i>
        <h3 class="fw-md-bold fs-md-1">Worldwide Shipping</h3>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center p-3 flex-grow-1">
        <i class="fa-solid fa-shield-alt me-2 fs-1 fw-bold"></i>
        <h3 class="fw-md-bold fs-md-1">Secure Payment</h3>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center p-3 flex-grow-1">
        <i class="fa-solid fa-rotate-left me-2 fs-1 fw-bold"></i>
        <h3 class="fw-md-bold fs-md-1">Easy Returns</h3>
    </div>
</div>



<div id="ft" class="m-3 mt-6 p-4 ">
    <div class="text-center mb-4">
        <p id="st" class="fw-bold p-2 fs-4">Stay In Touch</p>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-5 mb-3">
            <input class="form-control custom-input" type="text" placeholder="Email address">
        </div>
        <div class="col-md-5 mb-3">
            <input class="form-control custom-input" type="text" placeholder="Phone number">
        </div>
    </div>
    <div class="text-center mt-4">
        <div class="border border-dark d-inline-block p-2 bg-black text-white subscribe-btn">
            <h1 class="m-0 fs-1">SUBSCRIBE</h1>
        </div>
    </div>


    <div id="main-footer" class="container mt-5">
        <div class="row">
            
            <div class="col-md-3 col-12 footer-col mb-3 text-center text-md-start">
                <h3 class="footer-heading">FIND US</h3>
                <p class="pa"><i class="fa-solid fa-location-dot"></i> 45-50 Gulberg III Industrial Area Lahore, Pakistan Sheikhupura Textile Mills Ltd</p>
                <p class="pa"><i class="fa-solid fa-phone"></i> Help Line 042-111-111-009 (10AM to 5.30PM) Mon to Sat</p>
                <p class="pa"><i class="fa-brands fa-square-whatsapp"></i> WhatsApp +92 302 8141555 (10AM to 5.30PM) Mon to Sat</p>
                <p class="pa"><i class="fa-solid fa-envelope"></i> sales@crossstitch.pk</p>
            </div>
    
            
            <div class="col-md-3 col-12 footer-col mb-3 text-center text-md-start">
                <h3 class="footer-heading">CUSTOMER CARE</h3>
                <p>STORE LOCATIONS</p>
                <p>Policies</p>
                <p>Ordering and Tracking</p>
            </div>
    
            
            <div class="col-md-3 col-12 footer-col mb-3 text-center text-md-start">
                <h3 class="footer-heading">INFORMATION</h3>
                <p>Privacy Policy</p>
                <p>Payment Method</p>
                <p>Returns & Exchanges</p>
                <p>Contact Us</p>
                <p>Covid-19 Policy</p>
            </div>
    
            
            <div class="col-md-3 col-12 footer-col mb-3 text-center text-md-start">
                <h3 class="footer-heading">ABOUT US</h3>
                <p>The Brand</p>
                <p>Shipping Policy</p>
                <p>Terms and Conditions</p>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-tiktok"></i>
                </div>
            </div>
        </div>
    </div>